@model IList<Fy3y.Model.Das.SecurityReport>
<table class="table table-sm table-bordered table-hover table-striped text-center" id="table1">
    <thead>
        <tr>
            <th>#</th>
            <th>日报日期</th>
            <th>科室</th>
            <th>报告人</th>
            <th>上报时间</th>
            <th>数量</th>
            <th>操作</th>
        </tr>
    </thead>
    @if (Model != null)
    {
        var num = 0;
        foreach (var item in Model)
        {
            var count = item.Complaint + item.Criticality + item.Infection +
                        item.Undiagnosed + item.DrugAccident + item.Harmful + item.Complications + item.Others + item.Death;
            if (Convert.ToDateTime(item.ReportDate) < Convert.ToDateTime(item.CreateTime.AddDays(-1).ToString("yyyy/MM/dd")))
            {
                item.ReportDate = "补" + item.ReportDate;
            }
            num++;
            <tr>
                <td>@num </td>
                <td>@item.ReportDate </td>
                <td>@item.Department.DepartmentName </td>
                <td>@item.Creator.EmployeeName </td>
                <td>@item.CreateTime.ToString("yyyy-MM-dd HH:mm") </td>
                <td>@count </td>
                <td>
                    <div>
                        <a href="@Url.Action("Edit",new {id=item.ReportId})" title="编辑">
                            <i class="fa fa-edit"></i>
                        </a>
                        <a href="javascript:void(0)" onclick="remove('@Url.Action("Delete",new {id=item.ReportId})')" title="删除">
                            <i class="fa fa-trash"></i>
                        </a>
                        <a href="@Url.Action("Details",new {id=item.ReportId})" title="详情">
                            <i class="fa fa-eye"></i>
                        </a>
                    </div>
                </td>
            </tr>
        }
    }
</table>
<div class="pager">
    @Html.ActionLink("统计该页数据", "Statistics", new { departmentId = (ViewBag.departmentId as SelectList)?.SelectedValue, ViewBag.begin, ViewBag.end }, new { @class = "btn btn-dark d-print-none" })
</div>