@model IList<Inpatient>
@{
    ViewBag.Title = "无身份证病人";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("BeginEndFormPartial")
<table class="table table-sm table-bordered table-hover table-striped text-center" id="table1">
    <thead>
        <tr>
            <th>#</th>
            <th>住院号</th>
            <th>姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>科室</th>
            <th>床号</th>
            <th>入院时间</th>
            <th>出院时间</th>
            <th>床日</th>
            <th>类型</th>
            <th>修改</th>
        </tr>
    </thead>
    <tbody>
        @{
            var number = 0;
            if (Model?.Count() > 0)
            {
                foreach (var p in Model)
                {
                    number++;
                    <tr>
                        <td>@number </td>
                        <td>@p.Zyhm </td>
                        <td>@p.Brxm </td>
                        <td>
                            @Html.Partial("SexPartial", p.Brxb)
                        </td>
                        <td>
                            @Html.Partial("AgePartial", p.Age)
                        </td>
                        <td>@p.Ksmc </td>
                        <td>@p.Brch </td>
                        <td>@p.Ryrq.ToString("yyyy-MM-dd HH:mm") </td>
                        <td>@(p.Cyrq.HasValue?p.Cyrq.Value.ToString("yyyy-MM-dd HH:mm"):"") </td>
                        <td>@p.Brcr.ToString("f2") </td>
                        <td>
                            @Html.Partial("Partial/PatientTypePartial", p.Brlx)
                        </td>
                        <td><a href="javascript:void(0)" onclick="changeIdCard(@p.Zyhm)">修改</a> </td>
                    </tr>
                }
            }
        }
    </tbody>
</table>
<script type="text/javascript">
    function changeIdCard(e) {
        layer.open({
            title: "修改身份证号码",
            type: 2,
            area: ['400px', '160px'],
            shadeClose: true, //点击遮罩关闭
            closeBtn: 0,
            btn: ['保存', '取消'],
            content: '@Url.Action("ChangePatientIdCard")',
            yes: function(index, layero) {
                layer.close(index);
                var sfzh = $(layero).find("iframe")[0].contentWindow.document.getElementById("sfzh").value;
                var data = { "zyhm": e, "sfzh": sfzh };
                var url = "@Url.Action("ChangePatientIdCard")";
                AjaxSubmit(url, data);
            },
            btn2: function(index) {
                layer.close(index);
            }
        });
    }
</script>