@model IList<InpatientFeeStatistics>
@{
    ViewBag.Title = "公安病人费用清单";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("BeginEndFormPartial")
<table class="table table-sm table-bordered table-hover table-striped text-center" id="table1">
    <thead>
        <tr>
            <th>#</th>
            <th>住院号</th>
            <th>姓名</th>
            <th>病区</th>
            <th>床号</th>
            <th>地址</th>
            <th>入院日期</th>
            <th>床日数</th>
            <th>总费用</th>
            <th>医保费用</th>
            <th>自费总额</th>
            <th>伙食费</th>
            <th>垫付金额</th>
        </tr>
    </thead>
    <tbody>
    @{
        var number = 0;
        if (Model.Any())
        {
            foreach (var p in Model)
            {
                number++;
                <tr>
                    <td>@number </td>
                    <td>@p.Zyhm </td>
                    <td>@p.Brxm </td>
                    <td>@p.Ksmc </td>
                    <td>@p.Brch</td>
                    <td>@p.Lxdz</td>
                    <td>@p.Ryrq.ToShortDateString() </td>
                    <td>@p.Zyts</td>
                    <td>@p.Zjje</td>
                    <td>@p.Ybje</td>
                    <td>@p.Zfje</td>
                    <td>@p.Hsje</td>
                    <td>@(p.Zfje-p.Hsje)</td>
                </tr>
            }
          
        }
    }
    </tbody>
    <tfoot>
    <tr>
        <td colspan="7">合计</td>
        <td>@Model.Sum(p => p.Zyts) </td>
        <td>@Model.Sum(p => p.Zjje) </td>
        <td>@Model.Sum(p => p.Ybje) </td>
        <td>@Model.Sum(p => p.Zfje) </td>
        <td>@Model.Sum(p => p.Hsje) </td>
        <td>@Model.Sum(p => p.Zfje - p.Hsje) </td>
    </tr>
    </tfoot>
</table>