@model IList<Inpatient>
@{
  ViewBag.Title = "短期病人";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("DepartmentFormPartial")

  <table class="table table-sm table-bordered table-hover table-striped text-center">
    <thead>
      <tr>
        <th>#</th>
        <th>住院号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>年龄</th>
        <th>科室</th>
        <th>床号</th>
        <th>入院时间</th>
        <th>出院时间</th>
        <th>床日</th>
        @*<th>类型</th>*@
      </tr>
    </thead>
    <tbody>
      @{
        var number = 0;
        if (Model?.Count() > 0)
        {
          foreach (var p in Model)
          {
            number++;
            <tr>
              <td>@number </td>
              <td>@p.Zyhm </td>
              <td>@p.Brxm </td>
              <td>@Html.Partial("SexPartial",p.Brxb) /></td>
              <td>@Html.Partial("AgePartial",p.Age) </td>
              <td>@p.Ksmc </td>
              <td>@p.Brch </td>
              <td>@p.Ryrq.ToString("yyyy-MM-dd HH:mm") </td>
              <td>@(p.Cyrq.HasValue?p.Cyrq.Value.ToString("yyyy-MM-dd HH:mm"):"") </td>
              <td>@p.Brcr.ToString("f2") </td>
              @*<td> @Html.Partial("Partial/PatientTypePartial",p.Tsbrxz) </td>*@
            </tr>
          }
          <tr>
            <td colspan="2">总人数</td>
            <td>@Model.Count() </td>
            <td colspan="2">总床日数 </td>
            <td>@(Model.Sum(p=>p.Brcr).ToString("F2"))</td>
            <td colspan="2">平均床日</td>
            <td> @((Model.Sum(p=>p.Brcr)/Model.Count()).ToString("f2")) </td>
          </tr>
        }
      }
    </tbody>
  </table>