
@using Fy3y.Model.Das
@model IList<PatientSpecialFee>
@{
  ViewBag.Title = "特殊费用查询";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

  <form id="form1" method="post">
    @Html.AntiForgeryToken()
    <fieldset>
      <legend>查询条件</legend>
      <div class="form-group row text-center">
        <label class="col-1 col-form-label">开始</label>
        <div class="col-2">
          @Html.TextBox("begin", null, new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false,maxDate:'%y/%M/%d',dateFmt: 'yyyy/MM/dd'})", @class = "form-control" })
        </div>
        <label class="col-1 col-form-label">结束</label>
        <div class="col-2">
          @Html.TextBox("end", null, new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false,maxDate:'%y/%M/%d',dateFmt: 'yyyy/MM/dd'})", @class = "form-control" })
        </div>
        <div class="col-2">
          @Html.DropDownList("departmentId", null, new { @class = "form-control" })
        </div>
        <div class="col-2">
          <button class="btn btn-dark d-print-none">
            <span class="fa fa-search">查询</span>
          </button>
        </div>
      </div>
    </fieldset>
  </form>
<table class="table table-sm table-bordered table-striped text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>姓名</th>
      <th>性别</th>
      <th>年龄</th>
      <th>病区</th>
      <th>入院</th>
      <th>出院</th>
      <th>单价</th>
      <th>数量</th>
      <th>总额</th>
    </tr>
  </thead>
  <tbody>
    @{
      if (Model.Any())
      {
        IList<Department> departments = ViewBag.departments;
        var i = 1;
        foreach (var item in Model)
        {
          <tr>
            <td>@i</td>
            <td>@item.Brxm</td>
            <td>@(item.Brxb==1?"男":"女")</td>
            <td>
              @if (item.CSNY != null)
              {
                @(((DateTime.Now - item.CSNY.Value).TotalDays / 365).ToString("##.00"))
              }
              else
              {
                @:未知
              }
            </td>
            <td>@(departments.FirstOrDefault(p=>p.DepartmentId==item.BRBQ.Value).DepartmentName)</td>
            <td>@item.Ryrq.ToShortDateString() </td>
            <td>@item.Cyrq.ToShortDateString() </td>
            <td>@item.Fydj.ToString("#.00") </td>
            <td>@item.Fysl</td>
            <td>@item.Fyze.ToString("#.00") </td>
          </tr>
          i++;
        }
      }
    }
  </tbody>
</table>