@model IList<Gy_Jbbm>
@{
  ViewBag.Title = "医保诊断目录";
}


<form method="post">
  @Html.AntiForgeryToken()
  <fieldset>
    <legend>搜索</legend>
    <div class="form-group row text-center">
      <label class="col-1 col-form-label">关键字</label>
      @Html.TextBox("key", null, new { @class = "form-control col-2" })
      <div class="col-2">
        <button class="btn btn-dark d-print-none">
          <span class="fa fa-search">查询</span>
        </button>
      </div>
    </div>
  </fieldset>
</form>
<table class="table table-sm table-bordered table-striped text-center">
  <thead>
    <tr>
      <th>#</th>
      <th>疾病序号</th>
      <th>疾病名称</th>
      <th>拼音代码</th>
      <th>ICD-9</th>
      <th>ICD-10</th>
    </tr>

  </thead>
  <tbody>
    @{
      int i = 1;
      if (Model.Any())
      {
        foreach (var item in Model)
        {
          <tr>
            <td>@i</td>
            <td>@item.Jbxh</td>
            <td>@item.Jbmc </td>
            <td>@item.Pydm</td>
            <td>@item.Icd9 </td>
            <td>@item.Icd10 </td>
          </tr>
          i++;
        }


      }
    }
  </tbody>

</table>

