@model Fy3y.Model.Das.AdverseDrug
<div id=@(Model.DrugIndex + "-" + Model.SourceCode)>
  <div class="form-group row">
    <label class="col-2 col-form-label">商品名称</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.ProductName, new {@class = "form-control"})
    </div>
    <label class="col-2 col-form-label">通用名称</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.CommonName, new {@class = "form-control"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">批准文号</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.ApprovelNumber, new {@class = "form-control"})
    </div>
    <label class="col-2 col-form-label">药品批号</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.BatchNumber, new {@class = "form-control"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">药品剂型</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.DosageForm, new {@class = "form-control"})
    </div>
    <label class="col-2 col-form-label">给药途径</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.AdministrationRoute, new {@class = "form-control"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">生产厂家</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.Manufacturer, new {@class = "form-control"})
    </div>
    <label class="col-2 col-form-label">用法用量</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.UsageDosage, new {@class = "form-control", required = ""})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">开始时间</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.StartTime, new
      {
        @class = "form-control",
        onfocus = "WdatePicker({ isShowClear: false, readOnly: true, isShowOK: false, maxDate: '%y-%M-%d', dateFmt: 'yyyy/MM/dd'})"
      })
    </div>
    <label class="col-2 col-form-label">结束时间</label>
    <div class="col-4">
      @Html.TextBoxFor(model => model.EndTime, new
      {
        @class = "form-control",
        onfocus = "WdatePicker({ isShowClear: false, readOnly: true, isShowOK: false, maxDate: '%y-%M-%d', dateFmt: 'yyyy/MM/dd' })"
      })
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">用药原因</label>
    <div class="col-10">
      @Html.TextBoxFor(model => model.Remarks, new {@class = "form-control", required = ""})
    </div>
  </div>
  @Html.HiddenFor(model => model.DrugId)
  @Html.HiddenFor(model => model.DrugIndex)
  @Html.HiddenFor(model => model.SourceCode)
</div>