@model Fy3y.Model.Das.KeyDrug
@{
    ViewBag.Title = "添加监控药品";
}
<form id="form1">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label>药品关键字</label>
        <input class="form-control" id="keyword" onchange="changeKeyword()" type="text" />
    </div>
    <div class="form-group">

        <label>药品名称</label>
        <select class="custom-select" id="YPXH" name="YPXH" onchange="changeYPXH()"></select>
    </div>
    <div class="form-group">

        <label>药品序号</label>
        <input class="form-control" id="drugid" name="drugid" readonly type="text" />
    </div>
    <div class="form-group">
        <label>药品产地</label>
        @Html.HiddenFor(model => model.Cdmc)
        <select class="custom-select" id="YPCD" name="YPCD" onchange="changYPCD()"></select>
    </div>
    <div class="form-group">

        <label>产地序号</label>
        <input class="form-control" id="cdxh" name="cdxh" readonly type="text">
        @Html.HiddenFor(model => model.Ypmc)
    </div>
    @Html.HiddenFor(model => model.IsValid)
    @Html.HiddenFor(model => model.CreateTime)
    @Html.HiddenFor(model => model.CreatorId)
    @Html.HiddenFor(model => model.KeyType)
    @Html.HiddenFor(model => model.KeyId)
</form>
<div>
    <button class="btn btn-dark" id="submit">
        <i class="fa fa-save">保存</i>
    </button>
    <a href="@Url.Action("MonitorKeyDrug")">返回</a>
</div>
<script charset="utf-8" type="text/javascript">
  function changeKeyword() {
    var key = $("#keyword").val();
    if (key.length > 1) {
      $.ajax({
        type: "POST",
        url: "@Url.Action("GetDrugs")",
        data: "keyword=" + key,
        success: function(msg) {
          if (msg.status === 1) {
            $("#YPXH option").remove();
            var count = msg.data.length;
            if (count > 0) {
              $("#YPXH").append("<option value=0>有" + count + "种药品，请选择</option>");
              msg.data.forEach(function(item) {
                $("#YPXH").append("<option value=" + item.Value + ">" + item.Text + "</option>");
              });
            }

          }
        }
      });
    }
  }

  function changeYPXH() {
    const key = $("#YPXH").val();
    $("#drugid").val(key);
    if (key > 0) {
      $.ajax({
        type: "POST",
        url: "@Url.Action("GetDrugOrigin")",
        data: `YPXH=${key}`,
        success: function(msg) {
          if (msg.status == 1) {
              $("#YPCD option").remove();
              var count = msg.data.length;
              if (count>0) {
                  $("#YPCD").append(`<option value=0>有${count}个产地，请选择</option>`);
                  msg.data.forEach(function(item) {
                      $("#YPCD").append("<option value=" + item.Value + ">" + item.Text + "</option>");
                  });
              }
          }
        }
      });
    }

  }

  function changYPCD() {
    var key = $("#YPCD").val();
      $("#cdxh").val(key);
      $("#Cdmc").val($("#YPCD").find("option:selected").text());
  }

  function validForm() {
    return $("#form1").validate({
      rules: {
        YPCD: {
          required: true
        }
      }
    });
  }

  //注册表单验证
  $(validForm());
  $("#submit").click(function() {
    if (validForm().form()) {
     
      var url = "@Url.Action("AddKeyDrug")";
      var data = $("#form1").serialize();
      AjaxSubmit(url, data);
    }
  });
</script>