@model Fy3y.Model.Das.Patient
@{
  ViewBag.Title = "新增病人";
}
<form id="form1">
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true, "", new {@class = "text-danger"})
  <div class="form-group row">
    @Html.LabelFor(model => model.PatientName, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.PatientName, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.PatientName, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-md-2">性别</label>
    <div class="col-md-10 form-inline">
      <div class="form-check form-check-inline">
        <input checked="checked" class="form-check-input" id="male" name="Sex" type="radio" value="1" />
        <label class="form-check-label" for="male">男性</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="female" name="Sex" type="radio" value="2" />
        <label class="form-check-label" for="female">女性</label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" id="othersex" name="Sex" type="radio" value="3" />
        <label class="form-check-label" for="othersex">其它</label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Address, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.TextBoxFor(model => model.Address, new {@class = "form-control"})
      @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.IdCard, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.IdCard, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.IdCard, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.MedCard, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.MedCard, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.MedCard, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Mobile, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-md-2">有效人员</label>
    <div class="col-md-10">
      <div class="form-check form-check-inline">
        <div class="form-check form-check-inline ">
          <label class="form-check-label">
            @Html.RadioButtonFor(m => m.IsValid, true, new {@class = "form-check-input"})
            是
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            @Html.RadioButtonFor(m => m.IsValid, false, new {@class = "form-check-input"})
            否
          </label>
        </div>
      </div>
    </div>
  </div>
  @Html.HiddenFor(model => model.CreateTime)
  @Html.HiddenFor(patient => patient.CreatorId)
</form>
<div class="form-group row">
  <div class="col-md-10 col-md-offset-2">
    <button class="btn btn-dark d-print-none" id="submit">
      <i class="fa fa-save">保存</i>
    </button>
    @Html.ActionLink("返回列表", "Index")
  </div>
</div>
<script>

  function validForm() {
    return $("#form1").validate({
      rules: {
        PatientName: {
          required: true
        },
        Address: {
          required: true
        },
        IDCard: {
          required: true
        },
        MedCard: {
          required: true
        },
        Mobile: {
          required: true
        }
      },
      messages: {
        PatientName: {
          required: "病人姓名不能为空"
        },
        Address: {
          required: "地址不能为空"
        },
        IDCard: {
          required: "身份证号不能为空"
        },
        MedCard: {
          required: "医疗卡号不能为空"
        },
        Mobile: {
          required: "手机号码不能为空"
        }
      }
    });
  }

  //注册表单验证
  $(validForm());
  //点击表单保存按钮触发单击事件，进行表单验证，验证通过发起ajax请求，验证不通过在表单里提示
  $("#submit").click(function() {
    if (validForm().form()) {
      var url = "@Url.Action("Create")";
      var data = $("#form1").serialize();
      AjaxSubmit(url, data);
    }
  });
</script>