@model Fy3y.Model.Das.Patient
@{
  ViewBag.Title = "编辑病人";
}
<form id="form1">
  @Html.AntiForgeryToken()
  @Html.ValidationSummary(true, "", new {@class = "text-danger"})
  <div class="form-group row">
    @Html.LabelFor(model => model.PatientName, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.PatientName, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.PatientName, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-md-2">性别</label>
    <div class="col-md-10 form-inline">
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          @Html.RadioButtonFor(m => m.Sex, 1, new {@class = "form-check-input"})
          男性
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          @Html.RadioButtonFor(m => m.Sex, 2, new {@class = "form-check-input"})
          女性
        </label>
      </div>
      <div class="form-check form-check-inline">
        <label class="form-check-label">
          @Html.RadioButtonFor(m => m.Sex, 3, new {@class = "form-check-input"})
          其它
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Address, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.Address, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.Address, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.IdCard, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.IdCard, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.IdCard, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.MedCard, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.MedCard, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.MedCard, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    @Html.LabelFor(model => model.Mobile, new {@class = "col-form-label col-md-2"})
    <div class="col-md-10">
      @Html.EditorFor(model => model.Mobile, new {htmlAttributes = new {@class = "form-control"}})
      @Html.ValidationMessageFor(model => model.Mobile, "", new {@class = "text-danger"})
    </div>
  </div>
  <div class="form-group row">
    <label class="col-form-label col-md-2">有效人员</label>
    <div class="col-md-10">
      <div class="form-check form-check-inline">
        <div class="form-check form-check-inline ">
          <label class="form-check-label">
            @Html.RadioButtonFor(m => m.IsValid, true, new {@class = "form-check-input"})
            是
          </label>
        </div>
        <div class="form-check form-check-inline">
          <label class="form-check-label">
            @Html.RadioButtonFor(m => m.IsValid, false, new {@class = "form-check-input"})
            否
          </label>
        </div>
      </div>
    </div>
  </div>
  @Html.HiddenFor(model => model.CreateTime)
  @Html.HiddenFor(model => model.CreatorId)
  @Html.HiddenFor(m => m.PatientId)
</form>
<div class="text-center">
  <button class="btn btn-dark d-print-none" id="submit">
    <i class="fa fa-save">保存</i>
  </button>
  @Html.ActionLink("返回列表", "Index")
</div>
<script type="text/javascript">
  $("#submit").click(function() {
    var url = "@Url.Action("Edit")";
    var data = $("#form1").serialize();
    AjaxSubmit(url, data);
  });
</script>