@model Fy3y.Model.Das.WardRound
@{
    ViewBag.Title = "查房申请";
}
<br />
@Html.Partial("~/Views/AdverseEvent/QueryPatientPartial.cshtml")
<form class="text-center" id="form1" method="post">
    @Html.AntiForgeryToken()
    <!--患者基本资料-->
    <fieldset>
        <legend>患者情况</legend>
        <div class="form-group row">
            <label class="col-2 col-form-label">病案号</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.MedicalNo, new { @class = "form-control", placeholder = "住院号/门诊号", required = "" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">性别</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.PatientSex, new { @class = "form-control", list = "sexList" })
                <datalist id="sexList">
                    <option>男</option>
                    <option>女</option>
                    <option>其他</option>
                </datalist>
            </div>
            <label class="col-2 col-form-label">姓名</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.PatientName, new { @class = "form-control", required = "" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">年龄</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.PatientAge, new { @class = "form-control" })
            </div>
            <label class="col-2 col-form-label">就诊科室</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.DepartmentName, new { @class = "form-control", required = "" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">床号</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.BedNo, new { @class = "form-control" })
            </div>
            <label class="col-2 col-form-label">主治医生</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.DoctorName, new { @class = "form-control", required = "" })
            </div>
        </div>
        <div class="form-group row">
            <label class="col-2 col-form-label">就诊时间</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.TreatmentDate, new { @class = "form-control", required = "" })
            </div>
            <label class="col-2 col-form-label">主要诊断</label>
            <div class="col-4">
                @Html.TextBoxFor(m => m.Diagnosis, new { @class = "form-control", required = "" })
            </div>
        </div>
    </fieldset>
    <fieldset>
        <legend>申请情况</legend>
        <div class="form-group row">
            <label class="col-2 col-form-label">申请理由</label>
            <div class="col-10">
                @Html.TextAreaFor(m => m.Reason, 6, 3, new { @class = "form-control" })
            </div>
        </div>
    </fieldset>
    <br />
    @Html.HiddenFor(m => m.DepartmentId)
    <div class="d-print-none text-center">
        <button class="btn btn-dark" id="btnSubmit">保存</button>
        <a href="@Url.Action("Index")">返回</a>
    </div>
</form>

<script type="text/javascript">

    $("#lookup").click(function () {
        var medicalNo = $("#MedicalNo").val();
        getPatientInfo(medicalNo);
    });

    //验证表单内容是否存在
    function validForm() {
        return $("#form1").validate({
            rules: {
                Reason: {
                    required: true
                },
                TreatmentSuggestion: {
                    required: true
                }
            }
        });
    }

    //注册表单验证方法
    $(validForm());
</script>