@model IList<Fy3y.Model.Das.Publicity>
@{
  ViewBag.Title = "内容管理";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>查询选择</legend>

        <div class="form-group row text-center ">
            <label class="col-form-label col-1">开始</label>
            <div class="col-2">
                @Html.TextBox("begin", null, new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false})", @class = "form-control" })
            </div>
            <label class="col-form-label  col-1">结束</label>
            <div class="col-2">
                @Html.TextBox("end", null, new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false})", @class = "form-control" })
            </div>
            <div class="col-2">
                <button class="btn btn-dark d-print-none">
                    <span class="fa fa-search">查询</span>
                </button>
            </div>
            <div class="col-2">
                <a class="btn btn-dark" href="@Url.Action("Create")">
                    <i class="fa fa-plus">添加</i>
                </a>
            </div>
        </div>
    </fieldset>
</form>
<br/>
<table class="table table-sm table-bordered table-hover table-striped text-center" id="table1">
    <thead>
    <tr>
        <th>#</th>
        <th>标题</th>
        <th>科室</th>
        <th>发布</th>
        <th>时间</th>
        <th class="d-print-none">操作</th>
    </tr>
    </thead>
    <tbody>
    @if (Model.Any())
    {
        var i = 1;
        var maxTitleLength = 20;
        foreach (var item in Model)
        {
            <tr>
                <td>@i </td>
                <td class="text-left">@(item.Title.Length > maxTitleLength ? item.Title.Substring(0, maxTitleLength) : item.Title)</td>
                <td>@item.Department.DepartmentName </td>
                <td>@item.Employee.EmployeeName </td>
                <td>@item.CreateTime.ToShortDateString() </td>
                <td class="d-print-none">
                    <div>
                        <a href="@Url.Action("Article",new{id=item.PublicityId})" title="查看">
                            <i class="fa fa-eye"></i>
                        </a>
                        <a href="javascript:void(0)" onclick="remove('@Url.Action("Delete",new{id=item.PublicityId})')" title="删除">
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                </td>
            </tr>
            i++;
        }
    }
   
    </tbody>
</table>