@model Fy3y.Model.Das.AdverseMedicalEvent
@{
  ViewBag.Title = "医疗安全（不良）事件报告";
}
<link href="~/Content/viewpage.css" rel="stylesheet" type="text/css" />
<br />
<div class="text-center">
  <div class="form-group row">
    <label class="col-2  col-form-label">报告人</label>
    <div class="col-2 div-text">
     @Model.AdverseEvent.ReporterName
    </div>
    <label class="col-2 col-form-label">报告科室</label>
    <div class="col-2 div-text">
      @Model.AdverseEvent.ReporterDeptName
    </div>
    <label class="col-2 col-form-label">报告时间</label>
    <div class="col-2 div-text">
     @Model.AdverseEvent.ReportTime.ToString("yyyy/MM/dd HH:mm")
    </div>
  </div>
  <br />
  <fieldset>
    <legend>A-基本资料</legend>
    <div class="form-group row">
      <label class="col-2 col-form-label">病案号</label>
      <div class="col-2 div-text">
       @Model.AdverseEvent.MedicalNo
      </div>
      <label class="col-2  col-form-label">性别</label>
      <div class="col-2 div-text">
        @Model.AdverseEvent.PatientSex
      </div>
      <label class="col-2 col-form-label">姓名</label>
      <div class="col-2 div-text">
       @Model.AdverseEvent.PatientName
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">年龄</label>
      <div class="col-2 div-text ">
       @Model.AdverseEvent.PatientAge
      </div>
      <label class="col-2 col-form-label">科室</label>
      <div class="col-2 div-text">
        @Model.AdverseEvent.PatientDeptName
      </div>
      <label class="col-2 col-form-label">床号</label>
      <div class="col-2 div-text ">
       @Model.AdverseEvent.BedNo
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">诊断</label>
      <div class="col-10 div-textarea ">
       @Model.AdverseEvent.Diagnosis
      </div>
    </div>
  </fieldset>
  <!--事件情况-->
  <fieldset>
    <legend>B-事件情况</legend>
    <div class="form-group row">
      <label class="col-2 col-form-label ">发生时间</label>
      <div class="col-2 div-text">
       @Model.AdverseEvent.EventTime.ToString("yyyy/MM/dd HH:mm")
      </div>
      <label class="col-2 col-form-label">发生场所</label>
      <div class="col-2 div-text">
        @Model.EventPlace
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">事件级别</label>
      <div class="col-2 div-text">
        @Model.EventLevel.LevelName
      </div>
      <label class="col-2 col-form-label">事件类别</label>
      <div class="col-2 div-text">
        @Model.EventClass.ClassName
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">主要表现</label>
      <div class="col-10 div-textarea">
        @Model.Performance
      </div>
    </div>
  </fieldset>
  <!--C-对患者或家属影响-->
  <fieldset>
    <legend>C-事件影响</legend>
    <div class="form-group row">
      <label class="col-2 col-form-label">影响级别</label>
      <div class="col-2 div-text">
        @Model.AffectLevel
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">详细说明</label>
      <div class="col-10 div-textarea">
        @Model.EventDetails
      </div>
    </div>
  </fieldset>
  <!--D-处理分析-->
  <fieldset>
    <legend>D-处理分析</legend>
    <div class="form-group row">
      <label class="col-2 col-form-label ">在场人员</label>
      <div class="col-4 div-text-left">
        @Model.PersonsPresent
      </div>
      <label class="col-2 col-form-label">通知人员</label>
      <div class="col-4 div-text-left">
        @Model.PersonsInform
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">可能因素</label>
      <div class="col-10 div-text-left">
        @Model.PossibleFactor
      </div>

    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">采取措施</label>
      <div class="col-10 div-textarea">
        @Model.TakeSteps
      </div>
    </div>
    <div class="form-group row">
      <label class="col-2 col-form-label">处理情况</label>
      <div class="col-10 div-textarea">
        @Model.DisposalSituation
      </div>
    </div>
  </fieldset>
  <!--E-改进措施-->
  <fieldset>
    <legend>E-改进措施</legend>
    <div class="form-group row">
      <label class="col-2 col-form-label">改进措施:</label>
      <div class="col-10 div-textarea">
        @Model.ImprovementMeasures
      </div>
    </div>
  </fieldset>
  <!--F-事件评价-->
  <fieldset>
    <legend>F-事件评价</legend>

    @if (Model.AdverseEvent.IsChecked)
    {
      <div class="form-group row">
        <label class="col-2 col-form-label">主管意见:</label>
        <div class="col-10 div-textarea">
          @Model.SuperiorOpinion
        </div>
      </div>
    }
    else
    {
      <label class="text-danger fa-2x">未审核</label>
    }


  </fieldset>


  <div class="text-center">
    @if (ViewBag.fatherType == "1")
    {
      <a class="d-print-none" href="@Url.Action("Manage","AdverseEvent")">返回</a>
    }
    else if (ViewBag.fatherType == "2")
    {
      <a class="d-print-none" href="@Url.Action("Statistics","AdverseEvent")">返回</a>
    }
    else
    {
      <a class="d-print-none" href="@Url.Action("Index","AdverseEvent")">返回</a>
    }
  </div>
</div>
<script type="text/javascript">
  $("input[type='text']").attr("readonly", "readonly");
  $("textarea").attr("readonly", "readonly");
  $("select").attr("disabled", "true");
  $("input[type='checkbox']").attr("disabled", "disabled");
  $("input[type='radio']").attr("disabled", "true");
</script>