@model Fy3y.Model.Das.MedicareApplication

@{
    ViewBag.Title = "修改医保备案审批";
}

<form id="form1" method="get">
    @Html.AntiForgeryToken()
    <fieldset>
        <legend>查询条件</legend>
        <div class="form-group row text-center">
            <label class="col-1 col-form-label">开始</label>
            @Html.TextBox("begin", null, new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false,dateFmt: 'yyyy/MM/dd'})", @class = "form-control col-2" })
            <label class="col-1 col-form-label">结束</label>
            @Html.TextBox("end", null, new { onfocus = "WdatePicker({isShowClear:false,readOnly:true,isShowOK:false,dateFmt: 'yyyy/MM/dd'})", @class = "form-control col-2" })
            <div class="col-2">
                <button class="btn btn-dark d-print-none">
                    <span class="fa fa-search">查询</span>
                </button>
            </div>
        </div>
    </fieldset>
</form>
<br />
<form id="form2" method="post">
    @Html.AntiForgeryToken()
    <div class="content text-center">
        <div class="col-12">
            <div class="ibox">
                <div class="ibox-title text-left">
                    <h5>病人基本信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">病案号码</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.MedicalNo, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">患者姓名</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.PatientName, new { @class = "form-control", @readonly = "" })
                        </div>
                        <label class="col-2 col-form-label">患者性别</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.PatientSex, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">患者年龄</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.PatientAge, new { @class = "form-control", @readonly = "" })
                        </div>
                        <label class="col-2 col-form-label">所在床号</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.BedNo, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">就诊科室</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.PatientDeptName, new { @class = "form-control", @readonly = "" })
                        </div>
                        <label class="col-2 col-form-label">就诊医生</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.DoctorName, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">临床诊断</label>
                        <div class="col-10">
                            @Html.TextBoxFor(model => model.Diagnosis, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title text-left">
                    <h5>申请项目信息</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">项目名称</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.ItemName, new { @class = "form-control", list = "itemlist", @readonly = "" })
                            <datalist id="itemlist">
                                <option>认知知觉功能障碍训练</option>
                                <option>工娱治疗</option>
                            </datalist>
                        </div>
                        <label class="col-2 col-form-label">申请数量</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.ApplicationCount, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">开始时间</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.BeginDate, new { Value = Model.BeginDate.ToString("yyyy/MM/dd"), @class = "form-control", @readonly = "" })
                        </div>
                        <label class="col-2 col-form-label">结束时间</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.EndDate, new { Value = Model.EndDate.ToString("yyyy/MM/dd"), @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">申请理由</label>
                        <div class="col-10">
                            @Html.TextAreaFor(model => model.Reason, 2, 2, new { @class = "form-control", @readonly = "" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title text-left">
                    <h5>备案结果</h5>
                </div>
                <div class="ibox-content">
                    <div class="form-group row">
                        <label class="col-2 col-form-label">备案人</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.Recorder, new { @class = "form-control  ", required = "", @readonly = "" })
                        </div>
                        <label class="col-2 col-form-label">备案结果</label>
                        <div class="col-4">
                            <select class="custom-select" id="StatusCode" name="statusCode">
                                <option selected value="2">备案成功</option>
                                <option value="3">备案失败</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row ">
                        <label class="col-2 col-form-label">备案编号</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.RecordNumber, new { @class = "form-control  ", required = "" })
                        </div>
                        <label class="col-2 col-form-label">截止时间</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.ExpirationDate, new { Value = Model.ExpirationDate.ToString("yyyy/MM/dd"), @class = "form-control", onfocus = "WdatePicker({ isShowClear: false, readOnly: true, isShowOK: false, dateFmt: 'yyyy/MM/dd' })", required = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">备案数量</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.RecordCount, new { @class = "form-control ", required = "" })
                        </div>
                        <label class="col-2 col-form-label">备案金额</label>
                        <div class="col-4">
                            @Html.TextBoxFor(model => model.RecordMoney, new { @class = "form-control  ", required = "" })
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-2 col-form-label">备案说明</label>
                        <div class="col-10">
                            @Html.TextAreaFor(model => model.Remarks, 2, 2, new { @class = "form-control" })
                        </div>
                    </div>
                    @Html.HiddenFor(p => p.RecordId)
                    @Html.HiddenFor(p => p.FinishTime)
                    @Html.HiddenFor(p => p.CreatorId)
                    @Html.HiddenFor(p => p.CreateTime)
                    @Html.HiddenFor(p => p.CreatorName)
                </div>
            </div>
        </div>
    </div>
</form>
<div class="form-group">
    <div class="text-center">
        <button class="btn btn-success" id="submit">
            <i class="fa fa-save">保存</i>
        </button>
        @Html.ActionLink("返回", "ApplicationIndex")
    </div>
</div>
<script>

  $("#StatusCode").change(function() {
    if ($("#StatusCode").val() === "2") {
      $("#ExpirationDate").removeAttr("disabled");
      $("#RecordNumber").removeAttr("disabled");
      $("#RecordCount").removeAttr("disabled");
      $("#RecordMoney").removeAttr("disabled");
    } else {
      $("#ExpirationDate").attr("disabled", "disabled");
      $("#RecordNumber").attr("disabled", "disabled");
      $("#RecordCount").attr("disabled", "disabled");
      $("#RecordMoney").attr("disabled", "disabled");
    }

  });

  function validForm() {
    return $("#form1").validate({
      rules: {
        StatusCode: {
          required: true
        }
      }
    });
  }

  //注册表单验证
  $(validForm());
  //点击表单保存按钮触发单击事件，进行表单验证，验证通过发起ajax请求，验证不通过在表单里提示
  $("#submit").click(function() {
    if (validForm().form()) {
      var url = "@Url.Action("ApplicationCheckCheck")";
      var data = $("#form1").serialize();
      AjaxSubmit(url, data);
    }
  });
</script>